.placeholder {
  background: rgba($dark-gray, .1)
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
} 

.animatedbg {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, rgba($base-secondary, .1) 8%, rgba($base, .5), rgba($base-secondary, .1) 33%);
  background-size: 800px 104px;
  height: 1rem;
  position: relative;
}
