.card-progress-list-item:before,
.card-progress-list-item:after {
  content: '';
  position: absolute;
  transition: 150ms;
}
.card-progress-list-item:before {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid $dark-gray-secondary;
  background: $white;
  left: 12px;
  top: 23px;
  z-index: 2;
}
.card-progress-list-item:after {
  width: 1px;
  height: 100%;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: $dark-gray-secondary;
  left: 16px;
  top: 23px;
  z-index: 1;
}


// Styles for the WATCHED state
.card-progress-list-item.watched:before {
  border: 1px solid $green;
  background: $green;
}
.card-progress-list-item.watched:after {
  border-color: $green;
}


// Styles for the CURRENT state
.card-progress-list-item.current:before {
  left: 14px;
  border-radius: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0px 5px 7px;
  border-color: transparent transparent transparent $green;
  background: $gray;
  box-shadow: 0 0 0 3px $gray;
}
.card-progress-list-item.current:after {
  border-color: $green;
  border-style: dashed;
}


// Styles for the Hover state
.card-progress-list-item:hover:before {
  left: 14px;
  border-radius: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0px 5px 7px;
  border-color: transparent transparent transparent $green;
  background: $white;
  box-shadow: 0 0 0 3px $white;
}

